-i https://pypi.org/simple
certifi==2024.2.2; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
idna==3.6; python_version >= '3.5'
peewee==3.17.1
pytelegrambotapi==4.15.2
python-dotenv==1.0.1; python_version >= '3.8'
redis==5.0.1; python_version >= '3.7'
requests==2.31.0; python_version >= '3.7'
urllib3==2.2.1; python_version >= '3.8'
